.login-page{
    width: 100%;
    height: 100vh;
    background-image: url('../../../img/login-bg.jpg');
    background-size: cover;
}

.login-page .bg-alpha{
    width: 100%;
    height: 100vh;
    background-color: rgba(33, 150, 243, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-page form{
    width: 100%;
    height: 50vh;
    padding: 30px;
    border-radius: 2px;
}

.row.spiner-login {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page .login-links {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.login-page .btn {
    margin-top: 25px;
}

.login-page .error {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.login-page .input-field input[type=email]:focus + label,
.login-page .input-field input[type=password]:focus + label{
    color: #0d47a1;
}

.login-page .input-field input[type=email]:focus,
.login-page .input-field input[type=password]:focus  {
    border-bottom: 1px solid #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
  }