.login-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-page .row{
    width: 100%;
}

.login-page.spiner-login {
    height: 100vh;
    line-height: 100vh;
}

.login-page form{
    width: 100%;
    min-height: 40vh;
    padding: 30px;
}

.login-page a {
    display: block;
    width: 100%;
    text-align: right;
}

.login-page .btn {
    margin-top: 25px;
}

.login-page .error {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.login-page .input-field input[type=email]:focus + label,
.login-page .input-field input[type=password]:focus + label{
    color: #0d47a1;
}

.login-page .input-field input[type=email]:focus,
.login-page .input-field input[type=password]:focus  {
    border-bottom: 1px solid #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
  }