.menu .nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 250px;
    width: 250px;
}

.menu .nav-wrapper{
    padding-left: 250px;
}

.menu .nav .menu-item a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu .nav .menu-item a:hover{
    background-color:#e3f2fd;
    color: #1976d2;
}
.menu .nav li a{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.menu .logo-container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu .logo-icon{
    height: 100px;
    background-image: url('../../../img/fat-3313923_640.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.menu .menu-img{
    width: 30px;
    margin-right: 25px;
}

.menu .user-email {
    margin-right: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

@media (max-width: 992px) {
    .menu .nav-wrapper{
        padding-left: 0px;
    }
    .menu .nav{
        left: 0px;
    }
}