.add-weight-measurement{
    padding-left: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-weight-measurement-preloader {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-weight-measurement form > div,
.add-weight-measurement form > button {
    margin-top: 30px;
}

@media (max-width: 992px){
    .add-weight-measurement{
        padding-left: 0px;
    }
}