
.spinner-container{
    min-height: 80vh;
    line-height: 80vh;
}

.measurements-results .example-appear {
    opacity: 0.01;
}


.measurements-results .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

@media (min-width: 992px) {
    .table-flex{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .table-height{
        flex-basis: 90%;
    }
    .pagination {
        padding-top: 5%;
        height: 10%;
    }
}

@media (max-width: 992px) {
    thead{
        font-size: 0.8rem;
        max-width: 50%;
    }
}